@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

#logo{  
    padding: 20px;
    font-family: 'Nico Moji';

}


.navbar {

    margin-left: auto;
}

.navbar-brand {
    margin-right: auto;
    display: flex;
    align-items: center;
}

#banner{
    width: 30px;
}

#navbarSupportedContent{
    font-family: 'Poppins';
    font-weight: 500;

}
.navbar {
    background-color: transparent !important; /* torna a cor de fundo transparente */
}

#vetor1{
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Isso centraliza a imagem horizontalmente */
}
#img2{
    width: 50%;
}
#fullbox2{
    height: 100vh;
}
#aaa{
    display: flex;
    justify-content: center;
    
}
#img1, #img2, #img3, #vetor1{
    filter: drop-shadow(0px 0px 10px rgba(36, 10, 10, 0.5));
}
#aaa2{
    margin-top: 110px;
    display: flex;
    justify-content: center;

}

  #imga{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
  }
#box1{
    height: 100vh;
    background: linear-gradient(to bottom, #ffc2c2 0%, #fda8a8 100%);
    display: flex;
    align-items: center;
}

/* .juntinhos{
    display: flex;
} */
#areaTexto1{
    display: flex;
    justify-content: center;
    text-align: justify;
}
#about{
    font-family: 'poppins';
    font-weight: 600;
}
#resposta{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.5rem;
}
#box2{
    display: flex;
    justify-content: center;
    background-color: #fda8a8;

}
#box4{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #ffb3b3;
}
#box3{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;

}
#services{
    font-family: 'poppins';
    font-weight: 600;
}
#testea{
    width: 75%;
}


#bac{
    font-family: 'poppins';
}
#total6{

    height: 100vh;
    display: flex;
    align-items: center;

}
#obj1{
    font-family: 'poppins';
    font-weight: 500;
}
.row{

    display: flex;
    align-items: center;
}

.row2{
    display: flex;
    align-items: center;
}




#aaab{
    font-family: 'poppins';
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 700px){

    #col{
        margin-top: 20px;
    }
    #total6{
        margin-top: 100px;
        height: auto ;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .card-title{
        overflow-y: hidden;
        margin-top: 10px;
    }

    #imga{
        width: 90px;
    }
    #img1{
        width: 90px;
    }
    #box1{
        height: auto;
        background-color: #FFC2C2;
    }
    
    #resposta{
        font-family: 'poppins';
        font-weight: 500;
        font-size: 1rem;
    }
}

  .card{
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
  }
.card-body{
    height: 250px;
}

.card-text{
    margin-top: 20px;
}
.card-title{
    height: 50px;
    overflow-y: hidden;
    margin-top: 10px;
}
#inte{
    font-weight: 600;
    position: absolute;
    font-family: 'poppins';
}
::-webkit-scrollbar{
    width: 8px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track-piece{
    background-color: #252525;
  }
  
  ::-webkit-scrollbar-thumb{
      border-radius: 100px;
    background-color: rgb(167, 167, 167);
  
  }
  
  ::-webkit-scrollbar-thumb:hover{
      background-color: #525252;
  }

i{
    color: black;
}
